$mdil-filename:         "materialdesignicons-light";
$mdil-font-name:        "Material Design Icons Light";
$mdil-font-family:      "materialdesignicons";
$mdil-font-weight:      "light";
$mdil-font-path:        "../fonts" !default;
$mdil-font-size-base:   24px !default;
$mdil-css-prefix:       mdil !default;
$mdil-version:          "0.2.63" !default;

$mdil-icons: (
    "account": F004,
    "alarm": F020,
    "alarm-plus": F024,
    "alert": F026,
    "alert-circle": F028,
    "alert-octagon": F029,
    "arrange-bring-forward": F03D,
    "arrange-bring-to-front": F03E,
    "arrange-send-backward": F03F,
    "arrange-send-to-back": F040,
    "arrow-down": F045,
    "arrow-down-circle": FCB7,
    "arrow-left": F04D,
    "arrow-left-circle": FCB9,
    "arrow-right": F054,
    "arrow-right-circle": FCBB,
    "arrow-up": F05D,
    "arrow-up-circle": FCBD,
    "bank": F070,
    "bell": F09A,
    "bell-off": F09B,
    "bluetooth": F0AF,
    "book": F0BA,
    "book-multiple": F0BB,
    "book-plus": F5DB,
    "bookmark": F0C0,
    "border-all": F0C7,
    "border-bottom": F0C8,
    "border-horizontal": F0CA,
    "border-inside": F0CB,
    "border-left": F0CC,
    "border-none": F0CD,
    "border-outside": F0CE,
    "border-right": F0CF,
    "border-top": F0D1,
    "border-vertical": F0D2,
    "briefcase": F0D6,
    "calendar": F0ED,
    "camcorder": F0FC,
    "camera": F100,
    "cancel": F739,
    "cart": F110,
    "chart-areaspline": F127,
    "chart-bar": F128,
    "chart-histogram": F129,
    "chart-line": F12A,
    "chart-pie": F12B,
    "check": F12C,
    "chevron-double-down": F13C,
    "chevron-double-left": F13D,
    "chevron-double-right": F13E,
    "chevron-double-up": F13F,
    "chevron-down": F140,
    "chevron-left": F141,
    "chevron-right": F142,
    "chevron-up": F143,
    "circle": F764,
    "clipboard": F147,
    "clipboard-check": F14C,
    "clipboard-plus": F750,
    "clipboard-text": F14E,
    "clock": F150,
    "closed-caption": F15E,
    "cloud": F15F,
    "cloud-download": F162,
    "cloud-upload": F167,
    "comment": F17A,
    "comment-alert": F17D,
    "comment-text": F188,
    "console": F18D,
    "content-cut": F190,
    "content-duplicate": F191,
    "content-paste": F192,
    "content-save": F193,
    "content-save-all": F194,
    "credit-card": F19B,
    "credit-card-scan": F19D,
    "crop": F19E,
    "crop-free": F19F,
    "currency-eur": F1AD,
    "currency-gbp": F1AE,
    "currency-rub": F1B1,
    "currency-usd": F1B3,
    "delete": F1C0,
    "diamond-stone": F1C8,
    "dots-horizontal": F1D8,
    "dots-vertical": F1D9,
    "download": F1DA,
    "eject": F1EA,
    "email": F1EE,
    "email-open": F1EF,
    "eye": F208,
    "eye-off": F209,
    "factory": F20F,
    "fast-forward": F211,
    "file": F214,
    "file-multiple": F222,
    "file-plus": F751,
    "flag": F23B,
    "flash": F241,
    "flask": F093,
    "flask-empty": F094,
    "folder": F24B,
    "folder-multiple": F253,
    "folder-plus": F257,
    "format-align-bottom": F752,
    "format-align-center": F260,
    "format-align-justify": F261,
    "format-align-left": F262,
    "format-align-middle": F753,
    "format-align-right": F263,
    "format-align-top": F754,
    "format-bold": F264,
    "format-clear": F265,
    "format-float-center": F267,
    "format-float-left": F268,
    "format-float-none": F269,
    "format-float-right": F26A,
    "format-indent-decrease": F275,
    "format-indent-increase": F276,
    "format-italic": F277,
    "format-line-spacing": F278,
    "format-list-bulleted": F279,
    "format-list-checks": F755,
    "format-list-numbers": F27B,
    "format-quote-close": F27E,
    "format-quote-open": F756,
    "format-underline": F287,
    "format-wrap-inline": F288,
    "format-wrap-square": F289,
    "format-wrap-tight": F28A,
    "format-wrap-top-bottom": F28B,
    "forum": F28C,
    "fullscreen": F293,
    "fullscreen-exit": F294,
    "gift": F2A1,
    "grid": F2C1,
    "grid-large": F757,
    "grid-off": F2C2,
    "group": F2C3,
    "hamburger": F684,
    "heart": F2D1,
    "heart-half": F6DE,
    "heart-off": F758,
    "help": F2D6,
    "help-circle": F2D7,
    "hexagon": F2D8,
    "home": F2DC,
    "image": F2E9,
    "inbox": F686,
    "information": F2FC,
    "label": F315,
    "layers": F328,
    "lightbulb": F335,
    "lightbulb-on": F6E7,
    "link": F337,
    "link-variant": F339,
    "lock": F33E,
    "lock-open": F33F,
    "login": F342,
    "logout": F343,
    "magnify": F349,
    "magnify-minus": F34A,
    "magnify-plus": F34B,
    "map-marker": F34E,
    "memory": F35B,
    "menu": F35C,
    "message": F361,
    "message-alert": F362,
    "message-image": F364,
    "message-processing": F366,
    "message-reply": F367,
    "message-text": F369,
    "message-video": F36B,
    "microphone": F36C,
    "microphone-off": F36D,
    "minus": F374,
    "minus-box": F375,
    "minus-circle": F376,
    "monitor": F379,
    "monitor-multiple": F37A,
    "music": F759,
    "music-off": F75A,
    "nfc-variant": F398,
    "note": F39A,
    "note-multiple": F6B7,
    "note-plus": F39C,
    "note-text": F39E,
    "octagon": F3C3,
    "paperclip": F3E2,
    "pause": F3E4,
    "pencil": F3EB,
    "phone": F3F2,
    "pin": F403,
    "pin-off": F404,
    "play": F40A,
    "plus": F415,
    "plus-box": F416,
    "plus-circle": F417,
    "power": F425,
    "presentation": F428,
    "presentation-play": F429,
    "printer": F42A,
    "redo-variant": F44F,
    "refresh": F450,
    "repeat": F456,
    "repeat-off": F457,
    "repeat-once": F458,
    "rewind": F45F,
    "rhombus": F70A,
    "rss": F46B,
    "script": F478,
    "settings": F493,
    "shield": F498,
    "shuffle": F49D,
    "signal": F4A2,
    "sitemap": F4AA,
    "skip-next": F4AD,
    "skip-previous": F4AE,
    "sleep": F4B2,
    "sleep-off": F4B3,
    "spellcheck": F4C6,
    "square": F763,
    "star": F4CE,
    "star-half": F4D0,
    "stop": F4DB,
    "tab": F4E9,
    "tab-plus": F75B,
    "table": F4EB,
    "taco": F761,
    "tag": F4F9,
    "television": F502,
    "thumb-down": F511,
    "thumb-up": F513,
    "thumbs-up-down": F515,
    "tooltip": F523,
    "tooltip-text": F528,
    "triangle": F536,
    "trophy": F538,
    "undo-variant": F54D,
    "unfold-less-horizontal": F54E,
    "unfold-less-vertical": F75F,
    "unfold-more-horizontal": F54F,
    "unfold-more-vertical": F760,
    "ungroup": F550,
    "upload": F552,
    "vector-arrange-above": F554,
    "vector-arrange-below": F555,
    "vector-combine": F558,
    "vector-difference": F55A,
    "vector-difference-ab": F55B,
    "vector-difference-ba": F55C,
    "vector-intersection": F55D,
    "vector-union": F564,
    "view-dashboard": F56E,
    "view-module": F573,
    "volume-high": F57E,
    "volume-minus": F75D,
    "volume-mute": F75E,
    "volume-off": F581,
    "volume-plus": F75C,
    "wifi": F5A9,
    "xml": F5C0
);